{% extends 'baseback.html.twig' %}

{% block body %}
<center>
{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
{{ form_widget(form) }}
<input type="submit" value="Modifier">
<a href="{{ path('affectationCrud_read') }}"> <input type="button" value="Annuler"> </a>
{{ form_end(form) }}
</center>
{% endblock %}
